{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <!-- form with fields for message and handle -->
  <form method="post">
      <label for="message">Your message:</label>
      <input type="text" name="message" id="message">
      <br><br>
      <label for="handle">Your name or handle:</label>
      <input type="text" name="handle" id="handle">
      <br><br>
      <input type="submit" value="Submit message">
  </form>
  <!-- show messages after submitting -->
  {% if thanks %}
  <br>
  <b>Thanks for your submission!</b>
  {% elif error %}
  <b>There was an error processing your submssion.</b>
  {% endif %}
{% endblock %}
